{% extends "base.html" %}
{% block title %}QNA{% endblock %}
{% block head %}
<script type="text/javascript">
	function sendit(){
		if (confirm("정말 신청핫겠습니까??") == true){
			self.location.href='finish';
		    document.form.submit();
		    return true;
		}else{   
		    return false;
		}

	}
</script>
{% endblock %}
{% block body %}
	<div class="w3-container" id="where" style="padding-bottom:32px;">
  	<div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">신청내역서</span></h5>
	 

	<form  action="buy_action" method="post" >
				<fieldset>
					<!-- 2.신청서 작성 -->
					<div class="apply_form mt50">

						<h4>신청서 작성</h4>
						<table class="write mt10">
							<colgroup>
							<col width="" />
							<col width="" />
						</colgroup>
						<tr>
							<th >ID</th>
							<td ><input type="text"  required name="id" id="id" value="{{member.id}}" disabled/></td>
						</tr>
						<tr>
							<th >이름</th>
							<td ><input type="text" name="name" required name="name" value="{{member.name}}" disabled /></td>
							<th width="70">성별</th>
							<td width="214"> <input name="sex" type="radio" value="남자" checked> 남자&nbsp;&nbsp;&nbsp;<input name="sex" type="radio" value="여자"> 여자</td>
						</tr>
						<tr>
							<th>휴대폰</th>
							<td colspan="3">
								<select name="hp1" class="ib75">
									<option value="010">010</option>
									<option value="011">011</option>
									<option value="016">016</option>
									<option value="017">017</option>
									<option value="018">018</option>
									<option value="019">019</option>
								</select>
								- <input type="text" class="ib75" name="hp2"/>
								- <input type="text" class="ib75" name="hp3"/></td>
							</tr>

							<tr>
								<th>문의내용</th>
								<td ><textarea name="content"></textarea></td>
							</tr>
							<tr>
							<th>코스 신청</th>
							<td colspan="3">
								<select>
									<option value="cos">코스 신청</option>
									<option value="PT">PT</option>
									<option value="GT">GT</option>
								</select>
							</td>
						</tr>
							</table>
							<input type="hidden" name="no" value="text_hidden">
     						 <p><button class="w3-input w3-padding-16 w3-border" type="button" onclick="sendit()" >신청하기</button></p>
					</fieldset>
				</form>
				
			</div>
			
			</div>
	


{% endblock %}

