{% extends "base.html" %}
{% block title %}QNA{% endblock %}
{% block head %}
<style>
.picture{
	border: 3px solid gold;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	center;
}
</style>
{% endblock %}
{% block body %}
	<div class="w3-container" id="where" style="padding-bottom:32px;">
  	<div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">헬스장 혜택</span></h5>
		
		
	</div>
	</div>
	<img src="static/images/person1.gif" style="margin-left: auto; margin-right: auto; display: block;"/>

{% endblock %}