{% extends "base.html" %}
{% block title %}QNA{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
	<div class="w3-container" id="where" style="padding-bottom:32px;">
  	<div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">회원권 종류</span></h5>
    </div>
    </div>
    <div class="w3-container" id="where" style="padding-bottom:32px;">
  	<div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">신규 유저 들을 위한</span></h5>
    <img src="static/images/person_11.png" />
     KFC 에서는 처음 운동을 시작하시는 분들의
	부담을 덜어드리고자 최초등록시 개월을 정하고 등록하실 수 있습니다
	
	최초등록시 학생회원권도
	1개월 4만원씩으로 금액이 같은데
	
	학생회원권의 경우에는 방학기간정지가
	기본으로 적용됩니다
	
	방학기간에 정지를 신청하고 학기 시작하실 때
	다시 운동을 시작하실 수 있는거임
	
	그외 10분티칭,토토무,오늘의운동등
	기존 시스템 또한 그대로 사용하실 수 있으니
	
	부담없는 금액에 운동을 시작해 보세요~
    
    </div>
    </div>
    
    <div class="w3-container" id="where" style="padding-bottom:32px;">
  	<div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">집중력 장애를 위한 </span></h5>
    <img src="static/images/person_12.jpg" />
    헬스 하나만! 하시려는 회원님들께서
	선택하시는 헬스 회원권입니다~!
	12개월 이용시 무려 월 3만원으로!!
	이용가능하답니다!
   
    </div>
    </div>
    
    <div class="w3-container" id="where" style="padding-bottom:32px;">
  	<div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">부자들을 위한</span></h5>
    <img src="static/images/person_13.jpg" />
    그룹운동인 스피닝과 GX까지 이용가능한
	프리미엄 회원권입니다.
	재미나고 다양한 운동을 원하신다면
	주저없이 선택해주세요!
	12개월 이용시 월 4만원에 OK!

    </div>
    </div>
    
    <div class="w3-container" id="where" style="padding-bottom:32px;">
  	<div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">힘이드는사람들을 위한</span></h5>
    <img src="static/images/person_14.jpg" />
    운동이 정말정말 필요하지만
	쉽게 시작하시긴 어려운 분들을 위해
	운동장려 회원권을 준비했어요!
	
	만 60세 이상의 실버분들과
	출산후 100일 이상 1년 미만 되신
	출산맘 분들!
	20% 할인 혜택, 꼭 누리시고
	다시 건강을 되찾으시길 바래요!
    
    </div>
    </div>
    
    <div class="w3-container" id="where" style="padding-bottom:32px;">
  	<div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">결벽증 회원을위한</span></h5>
    <img src="static/images/person_15.jpg" />
    영통 헬스장 웨스턴짐 에서는
	운동복과 개인락카도 
	별도 신청이 가능하답니다~
	
	1개월~6개월까지는 
	월 1만원으로,
	
	6개월~12개월까지는 10% 할인된 가격인
	월 9천원으로,
	
	12개월부터는 30% 할인된 가격인
	월 7천원으로 이용 가능하답니다!
	
	단!
	운동복은 한달 단위로도 이용이 가능하지만
	개인락카는 계약하신 회원권의 잔여기간에
	맞추어 등록해 주셔야 한답니다~!
    </div>
    </div>

{% endblock %}